* {
    margin: 0;
    padding: 0;
}

.mobile-nav {
        display: none;
}

/*Utilities*/
.content-container {
        padding: 0 15px;
}

/*Mobile */
@media screen and (max-width: 475px) {
    .mobile-nav {
            display: flex;
            align-items: center;
            justify-content: space-between;
            height: 55px;
            transition: ease-in .125s;
    }

    .mobile-links {
            display: none;
    }

    .ham-slice {
            background-color: rgb(55, 68, 111); 
            height: 2px;
            width: 28px;
            margin-top: 6px;
    }

    .ham-open {
            background-color: blue;
            height: 75vh;
    }

    .hamburger {
        display: flex;
        flex-direction: column;
        position: relative;
        height: 26px;
        justify-content: space-between;
      }
      
      .half-ham-slice {
        background-color: black;
        height: 2px;
        width: 14px;
        transition: ease-in .125s;
      }
      
      .half-slices-container {
        display: flex;
      }
      
      .open #slice-1 {
        background-color: red;
        transform: translate(2px, 7px) rotate(45deg);
        transition: ease-in .125s;
      }
      
      .open #slice-2 {
        background-color: red;
        transform: translate(-2px, 7px) rotate(-45deg);
        transition: ease-in .125s;
      }
      
      .open #slice-5 {
        background: red;
        transform: translate(2px, -7px) rotate(-45deg);
        transition: ease-in .125s;
      }
      
      .open #slice-6 {
        background: red;
        transform: translate(-2px, -7px) rotate(45deg);
        transition: ease-in .125s;
      }
      
      .open #slice-3 {
        background-color: transparent;
        transform: translateX(-14px);
        transition: ease-in .125s;
      }
      
      .open #slice-4 {
        background-color: transparent;
        transform: translateX(14px);
        transition: ease-in .125s;
      }


}
